/*View base classes *DO NOT TOUCH**/
/*rao colors: #da251a*/
.view-parent {
  position: absolute;
  top: 8%;
  bottom: 9%;
  right: 0;
  left: 0;
  background-color: black;
}

                /*START Question state classes*/
/* Header row */
.question-header{
  background-color: #212121 ;
  color: white;
  margin-bottom:2px;
  padding:7px;
  transition: 0.2s background-color;
  border-bottom: 1px groove black;
  float: left;
  position: relative;
  z-index: 5;
}
/*Rest of the list*/
.question-list{
  margin-top: 13%;
}
.question-list-item{
  padding: 5px;
}

/* Base class */
.question { 
  background-color:#fff;
  padding: 0px;
  transition: 0.2s background-color;
}

.question:hover{
  background-color: #212121 ;
  color: white;
}



            /*START Badges and info*/
/*default question state*/
.question-index{
  display: inline-block;
  background-image: url("/images/index_bg_default.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/*marked confirmed*/
.question-saved {
  background-image: url("/images/index_bg_green.png");
}
/*marked for later review*/
.question-marked {
  background-image: url("/images/index_bg_red.png");
}


.question-subject{
  display: inline-block;
}
.question-type{
  display: inline-block;
}

.badge-physics{
  background-color: red;
}
.badge-math{
  background-color: blue;
}
.badge-chemistry{
  background-color: green;
}

.badge-questiontype{
  background-color: #212121;
}

              /*End Badges and Info*/


/*OVERALL THEME*/
#paper {
  background-color: white;
  position: fixed;
  left: 0px;
  top: 0px;
  min-height: 100%;
}

/*The left question index drawer*/
#left_pane {
  position: relative;
  height: 100%;
  background-color: white;
  width: 270px;
  overflow-y: scroll;
}

              /*The primary content*/

/*The question display pane*/
#maincontent {
  background-color: #FAFAFA;
  position: relative;
  height: 100%;
  width: 100%;
}

/*The info bar (top bar in question pane)*/

#info_bar {
 position: fixed;
 width: 100%;
 height: 7%;
 display: block;
 z-index: 15;
 background-color: #616161; 
 color: white;
}

#indexButton{
  display: inline-block;
  width: 6em;
  float: left;
}

/*information counters in info_bar*/
.progress{
  display: inline-block;
  width: 6em;
}

#maincontent > .question-area{
  position: relative;
  top: 8%;
  max-height: 86%;
  padding: 10px;
  overflow-y: scroll;
}

#question_body {
  min-height: 4em;
  padding: 5px;
  border: 2px solid #706a6a;
}

/*div displaying options*/
#option-area {
  background-color: aquamarine;
  min-height: 30%;
  border-radius: 5px;
  /*padding: 5px;*/
}

/*option base class*/
.option {
  transition: 0.2s;
  padding: 2px;
}

.option-selected {
  border: 3px solid #212121;
  background-color: #aaaaaa;
}

.option-body{
}

            /*custom radio buttons and checkboxes*/
/*hide default boxes*/
input[type=radio], input[type=checkbox]{
  display: none;
  opacity: 0;
  width: 0px;
  height: 0px;
  margin: none;
  padding: none;
}

/*Vertically center the checkboxes and radios.NB: apply to the parent container*/
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  /*margin-bottom: 20px;*/
}

.custom-radio{
  min-height: 2em;
  /*background-color: aquamarine;*/
  background-image: url("/images/radio_off.png");
  background-repeat: no-repeat;
  background-size: 2em 2em;
  background-position: center;
  transition: 0.2s;
}

input[type=radio]:checked + label > .custom-radio{
  background-image: url("/images/radio_on.png");
  transition: 0.5s;
}

 /*checkboxes*/
.custom-checkbox{
  padding: 5px;
  height: 30px;
  background-image: url("/images/checkbox_off.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  /*background-color: aquamarine;*/
  background-position: center;
  transition: 0.2s;
}
input[type=checkbox]:checked + label > .custom-checkbox{
  background-image: url("/images/checkbox_on.png");
  transition: 0.5s;
}

/*bottom control panel (bottom_bar)*/
#control_buttons {
  position: fixed;
  bottom: 0%;
  background-color: grey;

}

