/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

#loading_papers {
  position: fixed;
  display: block;;
  background-color: #333;
  border-radius: 5px;
  width: 50%;
  left: 25%;
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 1px 0px 6px 3px #cccccc;
  z-index: 10000;

  #loading_text {
    font-size: 1.5em;
    padding: 10px;
  }
}
@media only screen and (max-width: 480px) {
  #loading_papers {
    left: 2%;
    right: 2%;
    top: 40%;
    bottom: 40%;
    width: 96%;
  }
}


#home_parent_div {
  position: absolute;
  top: 8%;
  width: 85%;
  left: 7.5%;
  right: 7.5%;
  bottom: 0%;
  overflow-y: scroll;
  background-color: #ffffff;
}
#home_parent_div .btn{
  padding: 6px 8px;
  font-size: 0.85em;
}
#home_parent_div .btn.btn-primary {
  background-color: #21409a;
  border-color: #21409a;
  padding: 6px 8px;
  font-size: 0.85em;
}

#home_top_bar {
  position: relative;
  z-index: 1;
  background-color: #f5f5f5;
  -webkit-transform: translateZ(0);
  margin-left: 10px;
  margin-right: 10px;
  transition: 200ms ease-out box-shadow;
  box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.3);
}
#home_top_bar.floating{
  box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.0);
  border-bottom: 2px solid #3f51b5;
}

#home_top_bar #state_title {
  display: inline-block;
  padding: 10px 10px;
  font-size: 1.3em;
}

#home_top_bar #search_panel {
  display: inline-block;
  position: relative;
  float: right;
  padding: 10px;
  transition: 200ms ease-out all;
}

#home_top_bar #search_box {
  display: inline-block;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 2px 10px;
  background-color: #ffffff;
  transition: 200ms ease-out all;
}
#home_top_bar #search_box:hover {
  border-color: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}
#home_top_bar #search_box .search {
  width: 25em;
  border: none;
  user-select: none;
  outline: none;
}
#home_top_bar #search_box .glyphicon {
  outline: none;
  user-select: none;
}
#home_top_bar #search_box .glyphicon:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: none;
}
#home_top_bar #search_box .glyphicon:active {
  transform: scale(0.9);
}

#home_papers_table {
  position: relative;
  padding: 10px;
  table-layout: fixed;
}
#home_table_head{
  transition: 200ms ease-out background-color;
}
#home_table_head.floating {
  background-color: #f5f5f5;
}
#home_parent_div td{
  font-family: Roboto;
}
#home_parent_div tr{
  padding: 5px;
}
#home_parent_div .paper-name {
  font-size: 1.2em;
}



#home_tab_area {
  position: relative;
}

.expired {
  color: red;
}
.ongoing {
  background-color: #8bc34a;
  color: #ffffff;
}

#home_papers_small{
  display: none;
}

#home_papers_small .paper-card{
  display: none;
}

/* Tablets*/
@media only screen and (max-width: 1000px){
  #home_parent_div {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 8%;
  background-color: #ffffff;
  overflow-y: hidden; // Hide the scrollbar
  }

  #home_top_bar {
    position: fixed;
    left: 0px;
    right:0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #home_top_bar #state_title {
    font-size: 1.3em;
    padding: 13px 10px;
  }
  #home_top_bar #search_panel .search {
    width: 90%;
    transition: 200ms ease-out all;
  }
  #home_top_bar #search_panel:hover {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10000;
    margin-left: 0px;
  }
  #home_top_bar #search_panel:hover #search_box{
    width: 100%;
  }
  #home_top_bar #search_panel:hover #search_box .search{
    width: 90%;
  }
  #home_top_bar button{
    display: none;
  }

  #home_papers_table {
    display: none;
  }

  #home_papers_small{
    position: fixed;
    display: block;
    justify-content: space-around;
    top: 15%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ffffff;
    overflow-y: scroll;
    font-family: Roboto;
  }

  #home_papers_small .paper-card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.5);
  }
  #home_papers_small  .paper-title{
    order: 0;
    flex-basis: 100%;
    display: flex;
    font-size: 1.23em;
    justify-content: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  #home_papers_small .ongoing .paper-title{
    background-color: #ffffff;
    color: black;
  }
  #home_papers_small  .paper-duration{
    order: 1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-top: 13px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cccccc;
  }

  #home_papers_small  .paper-expiry-date{
    order: 1;
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-top: 13px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cccccc;

    }
  #home_papers_small  .paper-action{
    order: 1;
    flex-basis: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    /*background-color: #eeeeee;*/
    padding: 5px;
    margin-bottom: 5px;
  }

  #home_papers_small  .paper-results{
    order: 1;
    flex-basis: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    /*background-color: #eeeeee;*/
    padding: 5px;
    margin-bottom: 5px;
  }
  #home_papers_small .expired{
    background-color: #ffffff;
  }
  #home_papers_small .ongoing{
    margin-top: 5%;
    background-color: #8bc34a;
  }
  #home_papers_small .attempted{
    background-color: #ffffff;
  }
   #home_papers_small .unattempted{
    background-color: #ffffff;
  }
  #home_papers_small .paper-action-attempt{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
  }
   #home_papers_small .paper-action-expired{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
  }
  #home_papers_small .paper-action-button{
    flex-basis: 75%;
  }

}

/* Phones*/
@media only screen and (max-width: 480px) {
  #home_papers_small .paper-card{
    width: 100%;
    margin-bottom: 5%;
    margin-left: 0;
  }
  #home_papers_small .paper-action {
    flex-grow: 1;
  }
  #home_papers_small .paper-results {
    flex-grow: 1;
  }
}

/****************Additions by Anurag*******/
.home_state_title{
  font-size: 1.3em;
  padding: 13px 10px;
}
