#home_parent_div {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 8%;

  background-color: #ffffff;
}

#home_top_bar {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1000;
  min-height: 7%;
  right: 0%;
  left: 0%;
  padding: 5px;
  font-family: inherit;
  font-size: 1.3em;
  /*color: ;*/
  background-color: #ffffff;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  -webkit-transform: translateZ(0)
}

#home_papers_table {
  position: fixed;
  top: 15%;
  bottom: 0%;
  overflow-y: scroll;
  width: 95%;
  margin: auto;
  padding: 10px;
  table-layout: fixed;
}

#home_table_head {
  transition: 0.3s all ease; 
}
#home_table_head.table-head-hidden {
  transition: 0.3s all ease; 
  opacity: 0;
}
#home_table_body tr{
  transition: 0.2s all linear;
}
#home_table_body tr:hover{
  box-shadow: 0px 3px 10px 2px #333333;
  background-color: #fefefe;
}


#fake_header{
  position: fixed;
  display: flex;
  font-size: 1.2em;
  top: 14.7%;
  width: 94%;
  margin-left: 5px;
  padding: 10px;
  padding-top: 15px;
  z-index: 999;
  background-color: white;
  transition: 0.3s all ease; 
  border-bottom: 2px solid #eeeeee;
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.75);
  -webkit-transform: translateZ(0)
}
#fake_header.table-head-hidden{
  top: 5.7%;
  transition: 0.3s all ease; 
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.75);
  -webkit-transform: translateZ(0)
}
#fake_header #fake_header_title {
  flex-basis: 43%;
  display: flex;
  justify-content: center;
}
#fake_header #fake_header_duration {
  flex-basis: 14%;
  display: flex;
  justify-content: center;
  
  
}
#fake_header #fake_header_expiry {
  flex-basis: 19%;
  justify-content: center;
  display: flex;
  
}
#fake_header #fake_header_status {
  flex-basis: 26%;
  justify-content: center;
  display: flex;
  
}
#fake_header #fake_header_action {
  flex-basis: 17%;
  justify-content: center;
  display: flex;
}


#home_tab_area {
  position: relative;
}

.expired {
  color: red;
}

#home_papers_small{
  display: none;
}

#home_papers_small .paper-card{
  display: none;
}

@media only screen and (max-width: 800px){
  #home_parent_div {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 8%;
  background-color: #ffffff;
  }

  #home_papers_table {
    display: none;
  }
  #fake_header {
    display: none;
  }

  #home_papers_small{
    position: fixed;
    display: block;
    justify-content: space-around;
    top: 15%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ffffff;
    overflow-y: scroll;
  }

  #home_papers_small .paper-card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.75);    
  }
  #home_papers_small  .paper-title{
    order: 0;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-radius: 5px;
    /*box-shadow: 0px 2px 2px 1px #cccccc;*/
  }
  #home_papers_small  .paper-duration{
    order: 1;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    /*background-color: #b3b3b3;*/
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cccccc;
  }

  #home_papers_small  .paper-expiry-date{
    order: 1;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    /*background-color: #eeeeee;*/
    padding: 5px;
    padding-bottom: 10px;
    
    margin-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    
    }
  #home_papers_small  .paper-action{
    order: 1;
    flex-basis: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    /*background-color: #eeeeee;*/
    padding: 5px;
    margin-bottom: 5px;
  }

  #home_papers_small  .paper-results{
    order: 1;
    flex-basis: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    /*background-color: #eeeeee;*/
    padding: 5px;
    margin-bottom: 5px;
  }
  #home_papers_small .expired{
    background-color: #ffffff;
  }
  #home_papers_small .ongoing{
    background-color: #ffb370;
  }
  #home_papers_small .attempted{
    background-color: #ffffff;
  }
   #home_papers_small .unattempted{
    background-color: #ffffff;
  }
  #home_papers_small .paper-action-attempt{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
  }
   #home_papers_small .paper-action-expired{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
  }
  #home_papers_small .paper-action-button{
    flex-basis: 75%;
  }

}