#home_parent_div {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 8%;

  background-color: #ffffff;
}

#home_papers_table {
  position: fixed;
  top: 20%;
  bottom: 10%;
  overflow-y: scroll;
  vertical-align: baseline;
  width: 95%;
  padding: 10px;
  box-shadow: 0px 3px 7px 5px #b3b3b3;
}

#home_table_head {
  background-color: #21409a;
  color: white;
}


#home_tab_area {
  position: relative;
}

.expired {
  color: red;
}