// TODO Doesn't belong here!
[ui-view].ng-enter {
    transition: 0.2s;
    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}

#results_and_analysis_parent {
    font-family: 'Roboto';
    letter-spacing: 0.14px;
    position: absolute;
    top: 8%;
    bottom: 0%;
    left: 7.5%;
    right: 7.5%;
    background-color: #f5f5f5;
    z-index: 100;
    padding: 10px;
    transition: all 0.5s ease;
    overflow-y: scroll;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    &::-webkit-scrollbar {
        display: none;
    }
    .card {
        display: inline-block;
        width: 95%;
        margin-left: 2.5%;
        margin-top: 2.5%;
        padding: 15px;
        background-color: #fff;
        // border: 2px dashed rebeccapurple;
        border-radius: 4px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    }
}

#result_top_bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    // height: 7%;
    padding: 7px;
    left: 0;
    right: 0;
    top: 0;
    font-family: inherit;
    font-size: 1.3em;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateZ(0);
    #state_title {
        align-self: center;
    }
    #back_button {
        order: 2;
        align-self: flex-end;
        margin-right: 0px;
    }
}

#result_area {
    position: relative;
    width: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    #result_area_controls {
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: 1.2em;
        top: 0%;
        width: 100%;
        padding: 5px;
        z-index: 999;
        background-color: #ffffff;
        transition: 0.3s all ease;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
        -webkit-transform: translateZ(0);

        .attempt-selector {
            max-height: 30em;
            overflow-y: scroll;
            .attempt-selector-item {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1em;
                padding: 5px;
                margin-bottom: 3px;
                max-height: 60%;
                background-color: #ffffff;
                &:hover {
                    background-color: #8bc34a;
                }
            }
        }
        .selected-attempt {
            display: flex;
            align-items: center;
        }
    }
    #paper_information_area {
        #paper_card {
            background-color: #ffffff;
            vertical-align: top;
            .paper-info {
                width: 40%;
                display: inline-block;
                background-color: #ffffff;
                margin-left: 6%;

                .marking_scheme {
                    vertical-align: top;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.21);
                }
            }
            .attempts-info {
                display: inline-block;
                width: 40%;
                margin-left: 6%;
                // border: 2px solid crimson;
                vertical-align: top;
                // padding: 10px;
            }
        }
    }
    // #paper_information_area
}

#chart_area {
    position: relative;
    width: 100%;
    #mark_distribution {
        background-color: #ffffff;
        width: 45%;
        display: inline-block;
        min-height: 400px;
        vertical-align: top;
    }
    #marks-table {
        background-color: #ffffff;
        width: 45%;
        vertical-align: top;
    }
    #card_bar {
        background-color: #ffffff;
        padding: 15px;
    }
    .subject-card {
        background-color: #ffffff;
        position: relative;
        transition: 0.3s ease-out all;
        box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.2);
        border-radius: 5px;

        .subject-header {
            padding: 20px 40px;
            // background-color: #f3f3f3;
            position: relative;
            border-radius: 10px;
            text-align: center;
            outline: none;
            user-select: none;
            font-family: "Roboto";

            &:hover {
                cursor: pointer;
            }
            .card-title {
                font-size: 1.5em;
                font-weight: 700;
                text-transform: uppercase;
            }
            .collapse-button {
                position: absolute;
                display: inline-block;
                margin: auto;
                display: inline-block;
                right: 0;
                top: 0;
                height: 100%;
                padding: 20px;
                font-size: 1.5em;
                vertical-align: middle;
                transition: 200ms ease-out all;
                span {
                    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
                    background-color: #fff;
                    top: -25%;
                    border-radius: 5px;
                    padding: 10px;

                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
        }
        &[data-collapsed='true'] .collapse-button {
            transform: rotateX(180deg);
            span{
                box-shadow: 0px -2px 3px 1px rgba(0, 0, 0, 0.2);
            }
        }
        &[data-collapsed='true']{
            border-radius: 10px;
        }
        .subject-body {
            &.collapsed {
                display: none !important;
            }

            .my-col{
                display: inline-block;
                // border: 1px dashed rebeccapurple;
                vertical-align: top;
            }
            .my-col-40{width: 39%;}
            .my-col-60{width: 59%;}

            .topics-data {
                margin-bottom: 1em;
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                width: 95%;
                margin-left: 2.5%;

                .subject-name {
                    width: 70%;
                    display: inline-block;
                    text-transform: capitalize;
                    padding-left: 5px;
                }
                .subject-score {
                    display: inline-block;
                    width: 15%;
                }
                .subject-percentage {
                    display: inline-block;
                    width: 15%;
                }
                .topic-name{
                    // border:1px solid;
                    width: 70%;
                    display: inline-block;
                }
                .topic-score{
                    // border:1px solid;
                    width: 15%;
                    display: inline-block;
                }
                .topic-percentage{
                    // border:1px solid;
                    width: 15%;
                    display: inline-block;
                }
                [data-subject="Chemistry"].collapsable {
                    flex-wrap: wrap;
                    height: 100%;
                }
            }
            #subtopic_distribution {
                // border: 2px solid black;
                margin-top: 0;
                margin-bottom: 10px;
                height: 400px;
            }
            #question_distribution{
                height: auto;
                // border: 2px solid pink;
                min-height: 400px;
            }
        }
    }
}

// Analysis Topic breakdown

/*Tablets */

@media only screen and (max-width: 999px) {
    #results_and_analysis_parent {
        background-color: #f1f1f1;
        overflow-y: scroll;
        left: 0%;
        right: 0%;
        padding: 0px;

        .card {
            width: 85%;
            margin-left: 7.5%;
        }

        #result_area {
            position: relative;
            overflow-y: unset;

            #result_area_controls {
                position: fixed;
                display: flex;
                justify-content: space-between;
                font-size: 1.2em;
                top: 14%;
                width: 100%;
                padding: 5px;
                padding-top: 20px;
                z-index: 999;
                background-color: white;
                transition: 0.3s all ease;
                box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
                transition: .3s all ease;
                --webkit-transform: translateZ(0);
            }

            #paper_card {
                #paper_details .paper-detail {
                    display: flex;
                    justify-content: flex-start;
                    /*flex-grow: 1;*/
                    flex-basis: 20%;
                    font-size: 1.5em;
                    /*border: 1px solid #e1e1e1;*/
                    padding: 3px;
                }
            }

        }

        #result_area #result_area_controls.hide-controls {
            top: 4%;
            box-shadow: none;
            opacity: 0;
        }
        #chart_area {
            position: relative;
            right: 0%;
            left: 0%;
            bottom: 0%;
            top: 25px;
            background-color: #f1f1f1;
            overflow-y: unset;
        }
        // Chart area cards
        #chart_area .card{
            width: 100%;
            left: 0%;
            right: 0%;
            margin-left: 0%;

        }
    }
}

@media only screen and (max-width: 480px) {
    #results_and_analysis_parent {
        .card {
            left: 0%;
            right: 0%;
            margin-left: 0%;
        }
        #result_area {
            #paper_card {
                width: 100%;

                .paper-info{
                    width: 100%;
                    margin-left: 0;
                }
                .attempts-info {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
        #chart_area {
            .card {
                width: 100% !important;
            }
            .subject-card {
                padding: 15px 0px;

                .subject-body {
                    .my-col, .my-col-40, .my-col-60 {
                        width: 100% !important;
                    }

                    #subtopic_distribution{
                        height: auto;
                    }
                }
            }
        }
    }
}
