#results_and_analysis_parent {
  position: absolute;
  top: 8%;
  bottom: 0%;
  right: 0;
  z-index: 100;
  left: 0;
  background-color: white;
  transition: all 0.5s ease;
}

[ui-view].ng-enter {
  transition: 0.2s;
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

#results_and_analysis_parent #result_top_bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  min-height: 7%;
  right: 0%;
  left: 0%;
  padding: 5px;
  font-family: inherit;
  font-size: 1.3em;
  background-color: #ffffff;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-transform: translateZ(0)
}

#result_top_bar #state_title {
  align-self: center;
}

#result_top_bar #back_button {
  order: 2;
  align-self: flex-end;
  margin-right: 0px;
}

#result_area {
  position: fixed;
  left: 0%;
  right: 50%;
  bottom: 0%;
  top: 16%;
  background-color: white;
  overflow-y: scroll;
}

#result_area #result_area_controls {
  position: fixed;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  top: 16%;
  width: 50%;
  padding: 5px;
  z-index: 999;
  background-color: white;
  transition: 0.3s all ease;
  border-bottom: 2px solid #eeeeee;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.75);
  -webkit-transform: translateZ(0)
}
#result_area #paper_card{
  margin-top: 13%;
}
#result_area #paper_card #paper_details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}

#result_area #paper_card #paper_details .paper-detail {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 20%;
  font-size: 1.5em;
  /*border: 1px solid #e1e1e1;*/
  padding: 3px;
}

#result_area #paper_card #marking_scheme {
  display: flex;
  width: 100%;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  padding: 5px;
}

#result_area #paper_card #marking_scheme .mark-detail {
  display: flex;
  /*justify-content: center;*/
  /*flex-grow: 1;*/
  flex-basis: 14%;
  font-size: 1.5em;
  /*border: 1px solid #e1e1e1;*/
  padding: 3px;
}

#result_area #breakdown {
  overflow-x: scroll;
}

#result_area_controls .control {
  color: blue;
}

#result_area .attempt_selector {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  padding: 5px;
  margin-bottom: 3px;
  background-color: #ffffff;
  
}

#result_area .attempt_selector:hover {
  background-color: #8bc34a;
}

#results_and_analysis_parent .card {
  display: inline-block;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 10px;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

#chart_area {
  position: fixed;
  right: 0%;
  left: 50%;
  bottom: 0%;
  top: 15%;
  background-color: #eeeeee;
  overflow-y: scroll;
}

#chart_area #chart {
  background-color: #ffffff;
  /*min-height: 40%;*/
  padding: 5px;
}

#chart_area #chart_pie {
  background-color: #ffffff;
  padding: 15px;
  margin-top: 5%;
}

#chart_area #chart_bar {
  background-color: #ffffff;
  padding: 15px;
}

#chart_area #analysis_area {
  background-color: white;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}


/*Responsive */

@media only screen and (max-width: 1000px) {
  #results_and_analysis_parent {
    position: absolute;
    top: 8%;
    bottom: 0%;
    right: 0;
    z-index: 100;
    left: 0;
    background-color: #ffffff;
    transition: all 0.5s ease;
    overflow-y: scroll;
  }
  #result_area {
    position: relative;
    top: 15%;
    background-color: #ffffff;
    overflow-y: unset;
  }
  #result_area #paper_card {
    margin-top: 8em;
  }
  #result_area #paper_card #paper_details .paper-detail {
    display: flex;
    justify-content: flex-start;
    /*flex-grow: 1;*/
    flex-basis: 20%;
    font-size: 1.5em;
    /*border: 1px solid #e1e1e1;*/
    padding: 3px;
  }
  #result_area #result_area_controls {
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    top: 14%;
    width: 100%;
    padding: 5px;
    padding-top: 20px;
    z-index: 999;
    background-color: white;
    transition: 0.3s all ease;
    border-bottom: 2px solid #eeeeee;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.75);
    transition: .3s all ease;
    --webkit-transform: translateZ(0);
  }

  #result_area #result_area_controls.hide-controls {
    top: 4%;
    box-shadow: none;
    opacity: 0;
  }

  #chart_area {
    position: relative;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 15%;
    background-color: #ffffff;
    overflow-y: unset;
  }

}
