.view-attempt-solutions-parent {
  position: fixed;
  top: 8%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: #f1f1f1;
  overflow-y: scroll;
}
.view-attempt-solutions-parent #solutions_top_bar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  min-height: 7%;
  right: 0%;
  left: 0%;
  padding: 5px;
  font-family: inherit;
  font-size: 1.3em;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateZ(0)
}
#solutions_top_bar #state_title {
  align-self: center;
  font-size: 1.2em;
}
#solutions_top_bar #paper_info {
  align-self: center;
}
#solutions_top_bar #attempt_info {
  align-self: center;
}

.solutions-container {
  position: absolute;
  top: 8%;
  left: 10%;
  right: 10%;
}

.solutions-container .question-card {
  width: 95%;
  margin-left: 2.5%;
  background-color: #ffffff;
  margin-bottom: 4%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0, 0.5);
}
.question-card .question-body {
  display: block;
  width: 100%;
  border: 2px solid #929292;
  padding: 5px;  
  min-height: 70px;
  border-radius: 3px;
}

.question-card .question-no {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px
}
.solutions-container .question-card .options {
}
.solutions-container .question-card .options .option {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 2px;
  border: 1px solid #929292;
}

.solutions-container .option-letter {
  flex-basis: 10%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.solutions-container .option-body {
  flex-basis: 80%;
  align-items: center;
  padding-left: 10px;
}
.solutions-container .answers {
  display: flex;
  justify-content: space-around;
  font-size: 1.1em;
  background-color: #e0e0e0;
  padding: 5px;
  border-radius: 5px;
}
.answers .correct-answer {
  display: flex;
}
.answers .user-answer {
  display: flex;
}

.question-card .hint {
  height: 0;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
  /*transition: 0.8s all ease;*/
}
.question-card .hint.visible{
  height: auto;
  padding: 10px;
  overflow: scroll;
}

.solution-correct {
  background: #7dffae;
}
.solution-incorrect {
  background: #ff7d7d;
}

@media only screen and (max-width: 650px) {
  #solutions_top_bar {
    position: fixed;
    font-size: 1em;
  }
  
  .solutions-container {
    left: 2%;
    right: 2%;
  }
  
  .solutions-container .question-card {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 4%;
    margin-left: 0;
  }

}
