<div style="background-color:black;position:absolute;
    top:8%; right:0;
    bottom:0; left:0;">

    <!-- List of question  -->
    <div snap-drawer id="left_pane">
      <div style="background-color:pink;margin-bottom:5px;padding:5px;">
        <div style="display:inline-block;">
         <!-- indexquestion no  --> 
         1
        </div>
        <div style="display:inline-block;">
         <!-- subject badge  --> 
         Math
        </div>
        <div style="display:inline-block;">
        <!-- question type  --> 
        MCQ
        </div>
      </div>

      <div style="background-color:pink;margin-bottom:5px;padding:5px;">
        <div style="display:inline-block;">
         <!-- indexquestion no  --> 
         1
        </div>
        <div style="display:inline-block;">
         <!-- subject badge  --> 
         Math
        </div>
        <div style="display:inline-block;">
        <!-- question type  --> 
        MCQ
        </div>
      </div>
    </div>  
  
    <!-- Question display area  -->  
    <div snap-content id="maincontent" >
      <!-- Top info bar  -->
      <div id="top_bar" style="background-color:grey;">
        <button snap-toggle="left" class="btn btn-default">toggle</button>
        <div id="attempted_questions" class="pull-right" style="display:inline-block; margin:5px;padding:3px;border: solid black 2px;border-radius:3px;">Attempted: 50/100</div>
        <div id="unattempted_questions" class="pull-right" style="display:inline-block; margin:5px;padding:3px;border: solid black 2px;border-radius:3px;">Unattempted: 19</div>
        <div id="marked_complete" class="pull-right" style="display:inline-block; margin:5px;padding:3px;border: solid black 2px;border-radius:3px;">Marked Complete: 37</div>
        <div id="attempted_questions" style="display:inline-block; margin:5px;padding:3px;border: solid black 2px;border-radius:3px;">50/100</div>
      </div>
    </div>

  LOADING
</div>
