<div ng-init="selectedQuestion = questions[0];" class="view-attempt"> 
  <!-- List of question  -->
  <div snap-drawer id="left_drawer">
    <div id="index_header" class="col-xs-12">
      <div class="col-xs-3">
        No.
      </div>
      <div class="col-xs-3">
        Sub
      </div>
      <div class="col-xs-3">
        Type
      </div>
      <div class="col-xs-3">
        Sync
      </div>
    </div>
    <div id="index_list">
      <ul id="" class="list-group">
        <li ng-repeat="question in questions"  class="list-group-item index-list-item" ng-click="selectQuestion(question)">
          <div ng-class="{'row':true, 'index-question':true, 'index-question-active': selectedQuestion==question}">
            <div class="col-xs-3 index-question-no" ng-class="{'index-question-marked':question.marked==true, 'index-question-saved':question.confirmed==true}">
              <span class="text-center">{{$index + 1}}</span> 
            </div>
            <div class="col-xs-3">
              <span class="badge" ng-class="{'index-badge-math':question.subj=='Math', 'index-badge-chemistry':question.subj=='Chemistry','index-badge-physics':question.subj=='Physics','center-block':true}">{{question.subj[0]}}</span>
            </div>
            <div class="col-xs-3">
              <span class="" ng-class="{'index-badge-questiontype':false}"> {{question.ques_type}}</span>
            </div>
            <div class="col-xs-1">
              <div class="sync-status-badge">
                <span ng-if="question.isAnswered && question.useranswer.isSubmitted!=true" class="glyphicon glyphicon-record"></span>
                <span ng-if="question.useranswer.isSubmitted && question.isAnswered"  class="glyphicon glyphicon-ok-sign"></span></div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div> <!-- end side panel  -->  

  <!--  Main content area  -->  
  <div snap-content id="main_content" class="">

    <!-- Top info bar  -->
    <div id="attempt_top_bar">
      <button id="left_drawer_button" snap-toggle="left" class="" title="Show the list of questions">
        <span class="glyphicon glyphicon-list"></span>
      </button>
      <div id="current_question_no" >{{(questions.indexOf(selectedQuestion) + 1) + '/' +  questions.length }}</div>
      <div id="global_timer"><span class="glyphicon glyphicon-hourglass"></span> <span id="timeo">00:00:00</span></div>
      <div id="question_timer"><span class="glyphicon glyphicon-time"></span> <span id="qtimeo">{{selectedQuestion.timetaken}}</span></div>
      <div id="test_paper_title">{{paper_title}}</div>
      <button class="btn btn-danger" id="finish_paper_button" data-toggle="modal" data-target="#exitModal"><span class="glyphicon glyphicon-log-out"> Finish</span></button>
    </div> <!-- End info bar  -->

    <!-- question-area  -->
    <div id="question_area" ng-swipe-left="nextQuestion()" ng-swipe-right="previousQuestion()">

      <!--only for debugging-->
      <div ng-if="debug==true">
        <p>{{questions.indexOf(selectedQuestion) + 1}}</p>
        <div ng-if="selectedQuestion.ques_type=='SC'"> <h5>Ans:{{selectedQuestion.answer}}</h5></div>
        <div ng-if="selectedQuestion.ques_type=='MC'">
          <p>a:{{selectedQuestion.answer1}} b: {{selectedQuestion.answer2}} c: {{selectedQuestion.answer3}} d: {{selectedQuestion.answer4}}</p>
        </div>
      </div>

      <!--  SC -->
      <div ng-if="selectedQuestion.ques_type=='SC'" id="question_card" class="col-xs-12 col-md-8 col-md-offset-2">
        <ul id="question_body_box" class="list-group">
          <a ng-if="selectedQuestion.isChRelated == true" class="list-group-item comprehension">
            <h4>Paragraph:</h4>
            <div id="" ng-bind-html="selectedQuestion.chQuestion"> </div>
          </a>
          <a href="#" class="list-group-item">
            <div ng-if="selectedQuestion.useranswer.isSubmitted && selectedQuestion.isAnswered" class="sync-status"><span class="glyphicon glyphicon-ok-sign"></span></div>
            <div id="question_body" ng-bind-html="selectedQuestion.question"> </div>
          </a>
          <li ng-repeat="(key, val) in {'A':'ans1', 'B':'ans2', 'C':'ans3', 'D':'ans4'}"  class="list-group-item">
            <input id="{{key}}" type="radio" name="option" ng-model="selectedQuestion.answer" value="{{key}}">
            <label for="{{key}}" class="col-xs-12 vcenter" ng-click="selectedQuestion.isAnswered=true; selectedQuestion.useranswer.isSubmitted=false;">
              <p  class="option-label" >{{key.toUpperCase()}}</p>
              <div class="custom-radio col-xs-1">
              </div>
              <div class="option-body col-xs-10" ng-bind-html="selectedQuestion[val]">
              </div>
            </label>
          </li>
        </ul>
      </div> <!-- /options SC  -->

      <!--options for MC-->
      <div ng-if="selectedQuestion.ques_type=='MC'" id="" class="col-xs-12 col-md-8 col-md-offset-2">
        <ul id="question_body_box" class="list-group">
          <a ng-if="selectedQuestion.isChRelated == true" class="list-group-item comprehension">
            <h4>Paragraph:</h4>
            <div id="" ng-bind-html="selectedQuestion.chQuestion"> </div>
          </a>
          <a  class="list-group-item">
            <div ng-if="selectedQuestion.useranswer.isSubmitted" class="sync-status"><span class="glyphicon glyphicon-ok-sign"></span></div>
            <div id="question_body" ng-bind-html="selectedQuestion.question"> </div>
          </a>
          <li  ng-repeat="(key,val) in {'A':'ans1', 'B':'ans2', 'C':'ans3', 'D':'ans4'}"  class="list-group-item">
            <input id="{{key}}" type="checkbox" name="{{'option'+$index}}" ng-model="selectedQuestion['answer' + key]" ng-false-value="undefined">
            <label for="{{key}}" class="col-xs-12 vcenter" ng-click="selectedQuestion.isAnswered=true">
              <p  class="option-label" >{{key.toUpperCase()}}</p>
              <div class="custom-checkbox col-xs-1">
              </div>
              <div class="option-body col-xs-10" ng-bind-html="selectedQuestion[val]">
              </div>
            </label>
          </li>
        </ul>
      </div> <!-- /mc  -->

      <!--options for IT-->
      <div ng-if="selectedQuestion.ques_type=='IT'" id="" class="col-xs-12 col-md-8 col-md-offset-2">
        <ul id="question_body_box" class="list-group">
          <a class="list-group-item">
            <div ng-if="selectedQuestion.useranswer.isSubmitted" class="sync-status"><span class="glyphicon glyphicon-ok-sign"></span></div>
            <div id="question_body" ng-bind-html="selectedQuestion.question"> </div>
          </a>
          <li class="list-group-item">
            <label for="numerical_ans"><h3>Answer:</h3></label>
            <input id="ans" class="form-control" type="number" name="answer" step="1" ng-model="selectedQuestion.answer">
          </li>
        </ul>
      </div> <!-- /IT  -->

      <!-- TF  -->
      <div ng-if="selectedQuestion.ques_type=='TF'" id="" class="col-xs-12 col-md-8 col-md-offset-2">
        <ul id="question_body_box" class="list-group">
          <a href="#" class="list-group-item">
            <div ng-if="selectedQuestion.useranswer.isSubmitted" class="sync-status"><span class="glyphicon glyphicon-ok-sign"></span></div>
            <div id="question_body" ng-bind-html="selectedQuestion.question"> </div>
          </a>
          <li ng-repeat="(key, val) in {'A':'ans1', 'B':'ans2', 'C':'ans3', 'D':'ans4'}"  class="list-group-item">
            <input id="{{key}}" type="radio" name="option" ng-model="selectedQuestion.answer" value="{{key}}">
            <label for="{{key}}" class="col-xs-12 vcenter" ng-click="selectedQuestion.isAnswered=true">
              <p  class="option-label" >{{key.toUpperCase()}}</p>
              <div class="custom-radio col-xs-1">
              </div>
              <div class="option-body col-xs-10" ng-bind-html="selectedQuestion[val]">
              </div>
            </label>
          </li>
        </ul>

      </div> <!-- /TF -->

      <!-- AR  -->
      <div ng-if="selectedQuestion.ques_type=='AR'" id="" class="col-xs-12 col-md-8 col-md-offset-2">
        <ul id="question_body_box" class="list-group">
          <a href="#" class="list-group-item">
            <div ng-if="selectedQuestion.useranswer.isSubmitted" class="sync-status"><span class="glyphicon glyphicon-ok-sign"></span></div>
            <div id="question_body">
              <div>Assertion:</div>
              <div ng-bind-html="selectedQuestion.question"> </div>
              <div>Reason:</div>
              <div ng-bind-html="selectedQuestion['ans1']"></div>
            </div>
          </a>
          <li ng-repeat="(key, val) in {'A':'Assertion is correct, Reason is also correct and gives the correct justification for Assertion', 'B':'Assertion is correct and Reason is also correct but it does not justify Assertion', 'C':'Assertion is correct and Reason is wrong', 'D':'Assertion is wrong and Reason is correct'}"  class="list-group-item">
            <input id="{{key}}" type="radio" name="option" ng-model="selectedQuestion.answer" value="{{key}}">
            <label for="{{key}}" class="col-xs-12 vcenter" ng-click="selectedQuestion.isAnswered=true">
              <p  class="option-label" >{{key}}</p>
              <div class="custom-radio col-xs-1">
              </div>
              <div class="option-body col-xs-10">
                {{val}}
              </div>
            </label>
          </li>
        </ul>
      </div> <!-- /ar  -->

      <!-- ch  -->
      <div ng-if="selectedQuestion.ques_type=='CH'" id="" class="col-xs-12 col-md-8 col-md-offset-2">
        <h3>Comprehension Type</h3>
        <ul id="question_body_box" class="list-group">
          <a ng-if="true" class="list-group-item comprehension">
            <h4>Paragraph:</h4>
            <!--<div id="question_body" ng-bind-html="selectedQuestion.chQuestion"> </div>-->
            <div id="comprehension_paragraph"> The comprehension paragraph will appear here! </div>
          </a>
          <!--<a ng-if="selectedQuestion.isChRelated == true" class="list-group-item comprehension">-->
          <!--<div id="question_body" ng-bind-html="selectedQuestion.question"> </div>-->
          <!--</a>-->
          <a  class="list-group-item">
            <div ng-if="selectedQuestion.useranswer.isSubmitted" class="sync-status"><span class="glyphicon glyphicon-ok-sign"></span></div>
            <div id="question_body" ng-bind-html="selectedQuestion.question"> </div>
          </a>
          <li  ng-repeat="(key,val) in {'A':'ans1', 'B':'ans2', 'C':'ans3', 'D':'ans4'}"  class="list-group-item">
            <input id="{{key}}" type="radio" name="option" ng-model="selectedQuestion.answer" value="key">
            <label for="{{key}}" class="col-xs-12 vcenter">
              <p  class="option-label" >{{key.toUpperCase()}}</p>
              <div class="custom-radio col-xs-1">
              </div>
              <div class="option-body col-xs-10" ng-bind-html="selectedQuestion[val]">
              </div>
            </label>
          </li>
        </ul>
      </div> <!-- /ch  -->

      <!-- SA  --> 
      <div ng-if="selectedQuestion.ques_type=='SA'" id="" class="col-xs-12 col-md-8 col-md-offset-2">
        <ul id="question_body_box" class="list-group">
          <div ng-if="selectedQuestion.useranswer.isSubmitted" class="sync-status"><span class="glyphicon glyphicon-ok-sign"></span></div>
          <a href="#" class="list-group-item">
            <div id="question_body" ng-bind-html="selectedQuestion.question"> </div>
          </a>
          <li class="list-group-item">
            <label for="answer"><h5 class="text-primary">Answer</h5></label>
            <textarea class="form-control" id="answer" name="answer" cols="30" rows="7" ng-model="selectedQuestion.answer" ng-maxlength="1000"></textarea>
            <button class="btn btn-success">save</button>
          </li>
        </ul>
      </div> <!-- /SA  -->

      <!-- MT  --> 
      <div ng-if="selectedQuestion.ques_type=='MT'" id="" class="col-xs-12 col-md-8 col-md-offset-2">
        <ul id="question_body_box" class="list-group">
          <a  class="list-group-item">
            <div ng-if="selectedQuestion.useranswer.isSubmitted" class="sync-status"><span class="glyphicon glyphicon-ok-sign"></span></div>
            <!--<div id="question_body" ng-bind-html="selectedQuestion.question"> </div>-->
            <div id="question_body"><p>akdsflsdflksjd dsfkljasfk ls Lorem voluptates cumque iure eligendi quae quisquam voluptatum odit facilis! Tempore tempore error fugiat cum sed. Iste nulla at dolorum optio non. Veritatis ipsum temporibus explicabo praesentium necessitatibus atque impedit?5</p></div>
          </a>
          <li class="list-group-item">
            <table class="table table-bordered table-hover">
              <thead>
                <tr id="matrix_headers" class="text-center">
                  <td>#</td>
                  <td>P</td>
                  <td>Q</td>
                  <td>R</td>
                  <td>S</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="opt in ['A','B','C','D']">
                  <td id="matrix_headers" class="text-center">{{opt}}</td>
                  <td>
                    <div class="matrix-checkboxes">
                      <input id="{{opt}}p" ng-model="selectedQuestion['answer'+opt]['P']" type="checkbox" name="" ng-false-value="undefined">
                      <label for="{{opt}}p" ng-click="selectedQuestion.isAnswered=true">
                        <div class="custom-checkbox custom-matrix-checkbox col-xs-1"></div>
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="matrix-checkboxes">
                      <input id="{{opt}}q" ng-model="selectedQuestion['answer'+opt]['Q']" type="checkbox" name="" ng-false-value="undefined">
                      <label for="{{opt}}q" ng-click="selectedQuestion.isAnswered=true">
                        <div class="custom-checkbox custom-matrix-checkbox"></div>
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="matrix-checkboxes">
                      <input id="{{opt}}r" ng-model="selectedQuestion['answer'+opt]['R']" type="checkbox" name="" ng-false-value="undefined">
                      <label for="{{opt}}r" ng-click="selectedQuestion.isAnswered=true">
                        <div class="custom-checkbox custom-matrix-checkbox"></div>
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="matrix-checkboxes">
                      <input id="{{opt}}s" ng-model="selectedQuestion['answer'+opt]['S']" type="checkbox" name="" ng-false-value="undefined">
                      <label for="{{opt}}s" ng-click="selectedQuestion.isAnswered=true">
                        <div class="custom-checkbox custom-matrix-checkbox"></div>
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div> <!-- /SA  -->



    </div> <!-- /question-area  -->

    <!--Control buttons-->
    <div id="bottom_bar">
      <div id="control_buttons" class="">
        <button ng-class="{'btn':true, 'btn-default':true, 'control-nav-button':true}" ng-click="previousQuestion()"><span class="glyphicon glyphicon-arrow-left"></span> Prev.</button>
        <button class="btn btn-success control-button" ng-click="selectedQuestion.marked=false; save(selectedQuestion)" data-toggle="tooltip" data-placement="top" title="Save your progress. Saved questions can be changed later."  ><span class="glyphicon glyphicon-ok"></span> Save</button>
        <button class="btn btn-warning control-button" ng-click="selectedQuestion.marked = true; selectedQuestion.confirmed=false; alert_notification({'msg': 'Question Marked','theme':'yellow','time':1900}); " data-toggle="tooltip" data-placement="top" title="Mark this question for later review"><span class="glyphicon glyphicon-exclamation-sign"></span> Mark</button>
        <button class="btn btn-danger control-button" ng-click="clearAnswer(selectedQuestion)" data-toggle="tooltip" data-placement="top" title="Clear the selected choices"><span class="glyphicon glyphicon-remove"></span>Clear</button>
        <button ng-class="{'btn': true,'btn-default':true,'control-nav-button':true}"  ng-click="nextQuestion()">Next <span class="glyphicon glyphicon-arrow-right"></span></button>
      </div>
      <button ng-if="debug=='true'" ng-class="{'btn': true,'btn-warning':true, 'pull-right':true}"  ng-click="displayInfo()"><span class="glyphicon glyphicon-info-sign"></span></button>
      <button ng-if="debug=='true'" ng-class="{'btn': true,'btn-primary':true, 'pull-right':true}" data-toggle="modal" data-target="#cleanupModal"><span class="glyphicon glyphicon-info-sign"></span></button>
      <button ng-if="debug=='true'" ng-class="{'btn': true,'btn-danger':true, 'pull-right':true}" data-toggle="modal" data-target="#servantModal"><span class="glyphicon glyphicon-info-sign"></span></button>
    </div>

    <!-- Alert popup box  -->
    <div id="abox" ng-model="alert_message" ng-if="notification_show==true" ng-class="{'text-center': true,'alert-box':true, 'alert-box-red':alert_message_theme=='red' , 'alert-box-green':alert_message_theme=='green','alert-box-yellow':alert_message_theme=='yellow'}">
        {{alert_message}}  
    </div>

  </div> <!-- /Main content area  -->


  <!-- MODALS  -->
  <div class="modal fade" id="exitModal" tabIndex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"> Are you sure you want to <b>finish</b> the paper?</h4>
        </div>
        <div class="modal-body">
          <p>Please make sure that you <b><u>SAVE</u></b> <span class="glyphicon glyphicon-ok-sign"></span> all your answers.</p>
          <p><b><u>Unsaved</u></b> <span class="glyphicon glyphicon-record"></span> answers will <b><u>NOT</u></b> be evaluated.</p>
          <p>Do you really want to submit the paper and quit?</p>
          <div id="loading" ng-if="loading==true">
            <h3>Loading... </h3>
            <img src="/images/15.gif" alt=""></img>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="final_resume_button" data-dismiss="modal"> <b>Resume</b> </button>
          <button class="btn btn-danger" id="final_finish_button" ng-click="finish()"> Save and Quit </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="servantModal" tabIndex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            10 minutes remaining: Save your questions.
          </h4>
        </div>
        <div class="modal-body">
          <p>Please make sure that you <b><u>SAVE</u></b> <span class="glyphicon glyphicon-ok-sign"></span> all your answers.</p>
          <p><b><u>Unsaved</u></b> <span class="glyphicon glyphicon-record"></span> answers will <b><u>NOT</u></b> be evaluated.</p>
          <p>Do you want to save all your attempted questions now?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" ng-click="autoSave()">
            Yes, save all my questions
          </button>
          <button class="btn btn-default" data-dismiss="modal">
            No, I'll save them myself
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="cleanupModal" tabIndex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">
            Time up! Saving your answers...
          </h2>
        </div>
        <div class="modal-body">
          <h3>Please do not refresh the page or close the window!</h3>
          <div id="loading" ng-if="loading==true">
            <img src="/images/15.gif" alt=""></img>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/MODALS-->

  <!-- TODO Window close alert box-->
  <!--<script type="text/javascript">-->
<!--window.addEventListener("beforeunload", function (e) {-->
  <!--// Custom message not working!-->
    <!--var confirmationMessage = "Future IITians don't give up!";-->
    <!--e.returnValue = confirmationMessage;     -->
    <!--return confirmationMessage;            -->
    <!--}); -->
<!--</script>-->
</div>
