<div>
  <div id="home_parent_div" class="col-xs-12">
    <div id="home_top_bar">
      <div id="state_title"><u>Available Test Papers</u></div>
      <!--<div id="user_info">{{user.name}}</div>-->
    </div>
    <div id="fake_header" class="table-head-hidden">
            <div id="fake_header_title"><b>Title</b></div>
            <div id="fake_header_duration"><b>Duration</b></div>
            <div id="fake_header_expiry"><b>Expires on</b></div>
            <div id="fake_header_status"><b>Status</b></div>
            <div id="fake_header_action"><b>Action</b></div>
    </div>
    <div id="home_papers_table">
      <table class="table">
        <thead id="home_table_head">
          <th class="text-center">Title</th>
          <th class="text-center">Duration</th>
          <th class="text-center">Expires on</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </thead>
       
        <tbody id="home_table_body">
          <!--ongoing papers first!-->
          <tr class="ongoing" ng-repeat="paper in ongoing_papers | orderBy:'rank'">
            <td class="text-center"><b>{{paper.name}}</b></td>
            <td class="text-center"><b>{{paper.time.slice(0,5)}}</b></td>
            <td ng-class="{'text-danger': paper.isExpired}" class="text-center">
              <span ng-if="paper.isExpired">[ <span class="glyphicon glyphicon-ban-circle"></span> Expired ]</span>
               {{getTzDate(paper.lastdate)}} - {{getTzTime(paper.lastdate)}}
            </td>
            <td ng-if='paper.status == "ongoing"' class="text-center">
              <p><b><u>Ongoing</u> <span>({{paper.time_remaining}} Remaining)</span></b></p>
            </td>
            <td class="text-center">
              <button class="btn btn-default" ng-disabled="paper.isExpired" ng-click='attemptPaper(paper)' ng-if='paper.status == "ongoing"'><span class="glyphicon glyphicon-play"></span> Resume</button>
            </td>
          </tr>
          <!-- /ongoing papers  -->
          <!-- fresh unattempted papers-->
          <tr ng-class="{}" ng-repeat="paper in fresh_papers | orderBy:'lastdate'">
            <td class="text-center"><b ng-class="{'text-primary': paper.status=='ongoing'}">{{paper.name}}</b></td>
            <td class="text-center">{{paper.time.slice(0,5)}}</td>
            <td ng-class="{'text-danger': paper.isExpired}" class="text-center">
              {{getTzDate(paper.lastdate)}} - {{getTzTime(paper.lastdate)}}
            </td>
            <td ng-if='paper.status == undefined' class="text-center">
              <p><b><span class="label label-default"> Never Attempted </span></b></p>
            </td>
            <td class="text-center">
              <button class="btn btn-primary" ng-click='attemptPaper(paper)' ng-disabled="paper.isExpired" ng-if='paper.status == undefined'> <span class="glyphicon glyphicon-plus"></span> Attempt</button>
            </td>
          </tr>
          <!-- /fresh papers  -->
          <!-- attempted papers -->
          <tr ng-class="{'info':paper.status=='ongoing'}" ng-repeat="paper in attempted_papers | orderBy:'-lastdate'">
            <td class="text-center"><b ng-class="{'text-primary': paper.status=='ongoing'}">{{paper.name}}</b></td>
            <td class="text-center">{{paper.time.slice(0,5)}}</td>
            <td ng-class="{'text-danger': paper.isExpired}" class="text-center">
              <span ng-if="paper.isExpired">[ <span class="glyphicon glyphicon-ban-circle"></span> Expired ]</span>
              {{getTzDate(paper.lastdate)}} - {{getTzTime(paper.lastdate)}} </td>
            <td ng-if='paper.status == "attempted"' class="text-center">
              <button class='btn btn-danger' ng-click="viewResult(paper)"><span class="glyphicon glyphicon-education"></span> Results &amp; Analysis</button>
            </td>
            <td class="text-center">
              <button class="btn btn-info" ng-disabled="paper.isExpired" ng-click='attemptPaper(paper)' ng-if='paper.status == "ongoing"'><span class="glyphicon glyphicon-play"></span> Resume</button>
              <button class="btn btn-primary" ng-disabled="paper.isExpired" ng-click='attemptPaper(paper)' ng-if='paper.status == undefined'>Attempt</button>
              <button class="btn btn-info" ng-disabled="paper.isExpired" ng-click='attemptPaper(paper)' ng-if='paper.status == "attempted"'><span class="glyphicon glyphicon-repeat"></span> Retake</button>
            </td>
          </tr>
          <!--/attempted papers-->
          <!--expired papers-->
          <tr ng-class="{'danger':true}" ng-repeat="paper in expired_papers | orderBy:'-lastdate'">
            <td class="text-center"><b ng-class="{'text-primary': paper.status=='ongoing'}">{{paper.name}}</b></td>
            <td class="text-center">{{paper.time.slice(0,5)}}</td>
            <td ng-class="{'text-danger': paper.isExpired}" class="text-center">
              <p><span ng-if="paper.isExpired">[ <span class="glyphicon glyphicon-ban-circle"></span> Expired ]</span>
              </p> {{getTzDate(paper.lastdate)}} - {{getTzTime(paper.lastdate)}} 
            </td>
            <td ng-if="paper.status == 'attempted'" class="text-center">
              <button class='btn btn-danger' ng-click="viewResult(paper)"><span class="glyphicon glyphicon-education"></span> Results &amp; Analysis</button>
            </td>
            <td class="text-center">
              ---
            </td>
            <td ng-if="paper.status !== 'attempted'" class="text-center">
              ---
            </td>
          </tr>
        </tbody>
      </table>
    </div>


                                        <!--Small  screens-->
    <div id="home_papers_small">

      <!--ongoing papers-->
      <div class="paper-card ongoing" ng-repeat="paper in ongoing_papers | orderBy:'rank'">
        <div class="paper-title">
          <h5>{{paper.name}}</h5>
        </div>
        <div class="paper-duration">
          <b>Duration</b>: {{ paper.time.slice(0,5)}}
        </div>
        <div class="paper-expiry-date">
          <p><b>Expires On</b>: {{getTzDate(paper.lastdate)}}- {{getTzTime(paper.lastdate)}}</p>
        </div>
        <div class="paper-results">
          <p><b><u>Ongoing</u> <span>({{paper.time_remaining}} Remaining)</span></b></p>
        </div>
        <div class="paper-action">
          <button class="btn btn-default" ng-disabled="paper.isExpired" ng-click='attemptPaper(paper)' ng-if='paper.status == "ongoing"'><span class="glyphicon glyphicon-play"></span> Resume</button>
        </div>
      </div>
      <hr>  
      <!--fresh papers-->
      <div class="paper-card unattempted" ng-repeat="paper in fresh_papers | orderBy:'lastdate'">
        <div class="paper-title">
          <h5 ng-class="{'text-primary': paper.status=='ongoing'}">{{paper.name}}</h5>
        </div>
        <div class="paper-duration">
          <b>Duration</b>: {{ paper.time.slice(0,5)}}
        </div>
        <div class="paper-expiry-date">
          <p><b>Expires On </b>: {{getTzDate(paper.lastdate)}} - {{ getTzTime(paper.lastdate)}}</p>
        </div>
        <div class="paper-action paper-action-attempt">
          <button class="btn btn-primary paper-action-button" ng-click='attemptPaper(paper)' ng-disabled="paper.isExpired" ng-if='paper.status == undefined'> <span class="glyphicon glyphicon-plus"></span> Attempt</button>
        </div>
      </div>
      <!--attempted papers-->
      <div class="paper-card attempted" ng-repeat="paper in attempted_papers | orderBy:'-lastdate'">
        <div class="paper-title">
          <h5 ng-class="{'text-primary': paper.status=='ongoing'}">{{paper.name}}</h5>
        </div>
        <div class="paper-duration">
          <b>Duration</b>: {{ paper.time.slice(0,5)}}
        </div>
        <div class="paper-expiry-date">
          <p><b>Expires On </b>: {{getTzDate(paper.lastdate)}} - {{getTzTime(paper.lastdate)}}</b></p>
        </div>
        <div class="paper-results">
          <button class='btn btn-danger paper-action-button' ng-click="viewResult(paper)"><span class="glyphicon glyphicon-education"></span> Results &amp; Analysis</button>
        </div>
        <div class="paper-action">
          <button class="btn btn-info paper-action-button" ng-disabled="paper.isExpired" ng-click='attemptPaper(paper)' ng-if='paper.status == "attempted"'><span class="glyphicon glyphicon-repeat"></span> Retake</button>
        </div>
      </div>
      <!--expired papers-->
      <div class="paper-card" ng-repeat="paper in expired_papers | orderBy:'-lastdate'">
        <div class="paper-title">
          <h5 class="text-danger"><span class="glyphicon glyphicon-alert"></span>EXPIRED! </h5>
          <h5 ng-class="{'text-primary': paper.status=='ongoing'}">.  {{paper.name}}</h5>
        </div>
        <div class="paper-duration">
          <b>Duration</b>: {{ paper.time.slice(0,5)}}
        </div>
        <div class="paper-expiry-date">
          <p><b>Expired On </b>: {{getTzDate(paper.lastdate)}} - {{getTzTime(paper.lastdate)}}</b></p>
        </div>
        <div class="paper-results paper-action-expired">
            <button ng-if="paper.status == 'attempted'" class='btn btn-danger paper-action-button' ng-click="viewResult(paper)"><span class="glyphicon glyphicon-education"></span> Results &amp; Analysis</button>
          <div ng-if="paper.status !== 'attempted'" class="text-center">
            ---
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ui-view>
  </div>
</div>
