<div>
  <div class='panel panel-default'>
    <div class='panel-heading'>{{paper.name}}</div>
    <div class='panel-body'>
      <div ng-if="!paper.status"> <h4 > Start Paper</h4> </div>
      <div ng-if="paper.status=='attempted'"> <h4 > Last Attempted on: 12:12:12</h4> </div>
      <div ng-if="paper.status=='ongoing'"> <h4 > Started on: {{yolo}}</h4> </div>
      <hr>
      <div ng-bind-html="paper.instructions"></div>
    </div>
    <div class="panel-footer">
      <a href="" class='btn btn-primary center-block' ng-if="!paper.status" ng-click='startPaper()'>Start Paper</a>
      <a href="" class='btn btn-primary center-block' ng-if="paper.status=='attempted'" ng-click='startPaper()'>Retake Paper</a>
      <a href="" class='btn btn-info center-block' ng-if="paper.status == 'ongoing'" ng-click='startPaper()'><span class="glyphicon glyphicon-play"></span> Resume Paper</a>
    </div>
  </div>
</div>
