<div>
  <div class='panel panel-default'>
    <div class='panel-heading text-center'><h4>{{paper.name}}</h4></div>
    <div class='panel-body'>
      <div><b>Duration: {{paper.time}}</b></div>
      <div ng-if="!paper.status"><b>Status: You have never attempted this paper before</b></div>
      <div ng-if="paper.status=='attempted'"><b>Last Attempted on: {{latestAttempt.date}}</b></div>
      <div ng-if="paper.status=='ongoing'"><b>Started on: {{yolo}}</b></div>
      <div ng-if="paper.isExpired"><b>Note: The paper has expired. You can still attempt the paper and view results. But the results will NOT be considered.</b></div>
      <hr>
      <h5>Instructions</h5>
      <div ng-bind-html="paper.instructions"></div>
    </div>
    <div class="panel-footer">
      <a href="" class='btn btn-primary center-block' ng-if="!paper.status" ng-click='startPaper()'>Start Paper</a>
      <a href="" class='btn btn-primary center-block' ng-if="paper.status=='attempted'" ng-click='startPaper()'>Retake Paper</a>
      <a href="" class='btn btn-info center-block' ng-if="paper.status == 'ongoing'" ng-click='startPaper()'><span class="glyphicon glyphicon-play"></span> Resume Paper</a>
    </div>
  </div>
</div>
