<div class="view-attempt-solutions-parent"> 
  <div class="solutions-container">

    <div ng-if="question.ques_type == 'SC' || question.ques_type == 'MC'" ng-repeat="question in questions" class="question-card">
      <div>
        {{$index}}
      </div>
      <div class="question-body" ng-bind-html="question.question">
      </div>
      <div class="options">
        <div class="option" ng-repeat="(key, val) in {'A':'ans1', 'B':'ans2', 'C':'ans3', 'D':'ans4'}">
          <div class="option-letter">
            {{key}}
          </div>
          <div class="option-body" ng-bind-html="question[val]">
          </div>
        </div>
      </div>
      <div ng-class="{'solution-correct': question.useranswer.answer == question.answer_key, 'solution-incorrect': question.useranswer.answer != question.answer_key && question.useranswer}">
        <div class="solution">
          Correct Answer: {{question.answer_key}}
        </div>
        <div class="user_answer" ng-if="question.useranswer != undefined">
          Your Answer: {{question.useranswer.answer}}
          Time Spent on this question: {{question.useranswer.timetaken}}
        </div>
        <div class="user_answer" ng-if="question.useranswer==undefined">
          Your Answer: Unattempted
        </div>
      </div>

    </div>

  </div>
</div>
